{% extends "base.html" %}
{% block title %} 책 리스트 {%endblock title %}	
{% block content %}
	<h1>Book List</h1>
	<form method="get" action="/">
		<input type="submit" value="홈으로가기">
	</form>
	{% for results in results %}
		<p>-------------------------------</p>
		<p>책 이름 : {{results["book_name"]}}</p>
		<p>책 가격 : {{results["book_price"]}}</p>
		<p>책 글쓴이 : {{results["book_writer"]}}</p>
		<p>책 출판사 : {{results["book_pub"]}}</p>
	{% endfor %}	
	<h4>-------------------------------</h4>
{% endblock content %}
